<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="store.DeleteOrderId"/>
      <class name="com.honeywell.team1.HoneywellTeam1.alphatest.PetTests"/>
      <class name="store.GetOrderId"/>
      <class name="store.PostStoreOrder"/>
      <class name="store.GetStoreInventory"/>
      <class name="com.honeywell.team1.HoneywellTeam1.utils.BaseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
